@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  border: none;
  width: 100%;
  font-family: inherit;
}

.react-calendar__tile--active {
  background: #2563eb;
  color: white;
  border-radius: 8px;
}

.react-calendar__tile--now {
  background: #dbeafe;
  border-radius: 8px;
}
